* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: aeonik;

}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;

  /* background-color: black; */
}

.main{
  height: 100%;
  width: 100%;
  background-color: rgb(17, 171, 222);
  background-image: url(https://images.unsplash.com/photo-1761857570544-83c168b5455b?q=80&w=2013&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  color: rgb(137, 84, 20);

}
.nav h2{
  font-size: 35px;
  font-weight: 800;

}

.nav i{
  font-size: 35px;
  font-weight: 800;
  cursor: pointer;
}

.full{
  height: 100%;
  width: 40%;
  background-color: rgba(176, 176, 162, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  backdrop-filter: blur(10px);
  padding: 100px 60px;
  right: -40%;
}

.full h4{
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 10px;
  
}

.full i{
  position: absolute;
  top: 5%;
  right: 10%;
  background-color: rgb(204, 206, 208);
  border-radius: 50%;
  padding: 5px;
  font-size: 25px;
  font-weight: 800;
  cursor: pointer;
}

.full i:hover{
  background-color: rgb(247, 249, 250);
 
}