* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'gilroy';

}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}
body{
  overflow-x: hidden;
}

.page1{
  height: 100%;
  width: 100%;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page2{
  height: 100%;
  width: 100%;
  background-color: rgb(29, 166, 70);
   display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
h2{
  font-size: 60px;
  position: relative;
  background-color: brown;
}
h3{
  font-size: 50px;
  position: relative;
  background-color: rgb(20, 77, 135);
}
.page3{
  height: 100%;
  width: 100%;
  background-color: rgb(74, 21, 87);
   display: flex;
  align-items: center;
  justify-content: center;
}

.box{
  height: 200px;
  width: 200px;
  background-color: blueviolet;

}

.page4{
  height: 100%;
  width: 100%;
  background-color: rgb(38, 101, 217);
}

.page4 h1{
  font-size: 40vw;
}