* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'gilroy';

}

html,
body {
  height: 100%;
  width: 100%;
}

.main{
  height: 100%;
  width: 100%;
  background-color: rgb(28, 28, 26);
  display: flex;
  align-items: center;
  justify-content: center;
}

.curser{
  height: 20px;
  width: 20px;
  background-color: rgb(151, 133, 133);
  border-radius: 50%;
  position: fixed;
  font-size: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 9;
  

}

.img{
  height:30vw ;
  width: 60vw;
  background-color: blueviolet;
  position: relative;
 
}
.img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.overlay{
  height: 100%;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.011);
  position: absolute;
  z-index: 10;
  
}